# Ignore __pycache__ folder
__pycache__/

# Ignore all sound files
*.mp3
*.wav
*.waw

#Ignore data files
/results
/logs
/saved_model/
*.h5
/.vscode
*.csv
*.pkl
*.txt
/language_detection_bert/
/language_detection_model/
*.pth

/my_awesome_opus_books_model/
/emotion_detection_model/
/my_awesome_audio_classification_model/
/my_awesome_translation_model/
/speecht5_finetuned_voxpopuli_nl/
/YOUR_ACCOUNT_NAME/
/KMcan/
/k_mert_can/
/text_to_speech_pretrained_model/
.fake