# Ignore __pycache__ folder
__pycache__/

# Ignore all sound files
*.mp3
*.wav
*.waw

#Ignore data files
/results
/logs
/saved_model/
*.h5
/.vscode
*.csv
*.pkl
*.txt
/language_detection_bert/
/language_detection_model/
/emotion_detection_model/
test.py
*.pth